<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>QIANKUN-LBP</title>
    <meta name="description" content="Description for quotation">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="google" content="notranslate" />
</head>
<body>
<div id="root"></div>
<noscript>
    <h1>You must enable javascript to view this page.</h1>
</noscript>
<script type="text/javascript">
    console.log('%c _      ______ _   _  ______      ______      _      ____  _____  \n' +
        '| |    |  ____| \\ | |/ __ \\ \\    / / __ \\    | |    |  _ \\|  __ \\ \n' +
        '| |    | |__  |  \\| | |  | \\ \\  / / |  | |   | |    | |_) | |__) |\n' +
        '| |    |  __| | . ` | |  | |\\ \\/ /| |  | |   | |    |  _ <|  ___/ \n' +
        '| |____| |____| |\\  | |__| | \\  / | |__| |   | |____| |_) | |     \n' +
        '|______|______|_| \\_|\\____/   \\/   \\____/    |______|____/|_|     ', 'color:#e1140a');
    console.log('%clbp.lenovo.com created by Lenovo team', 'color:white;background-color:#3e8ddd');
</script>
</body>
</html>
